{% extends 'base.html.twig' %}

{% block title %}Search for Jokes{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search_jokes')}}
{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% if new_rating|default %}
        <div class="alert alert-primary new-rating-alert" role="alert">
            Rating Successfully Published. 
            {% if joke_id|default %}
                <a href='/view/joke/{{ joke_id }}'>View Joke</a>
            {% endif %}
        </div>
    {% endif %}

    <h1>Search for Jokes Here!</h1>
    <hr>
    {% if form|default %}
        {{ form_start(form, {'attr': {'class': 'search-jokes-form'}}) }}
            <div class='form-group'>
                <label>Search Term:
                {{ form_widget(form.joke, {'attr': {'class': 'form-control joke-field'}}) }}
                </label>
                {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(form) }}
    {% endif %}

    {% if search_exists %}
        {% if jokes_count == 0 %}
            <div class="alert alert-warning joke-search-alert" role="alert">
                <strong>Sorry!</strong> Your search returned 0 results. That's not funny...
                <button type="button" class="btn btn-secondary close-alert" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-success joke-search-alert" role="alert">
                <strong>Success!</strong> Your search found {{ jokes_count }} jokes.
                <button type="button" class="btn btn-secondary close-alert" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr class='top-thirty'>
            <table class='table table-striped table-hover' id='search-results-table'>
                <thead>
                    <tr>
                        <th scope='col' class='search-results w-sixty'>Joke</th>
                        <th scope='col' class='search-results center-me w-twenty'>Average Rating</th>
                        <th scope='col' class='search-results center-me w-twenty'>Rate Joke</th>
                    </tr>
                </thead>

                <tbody>
                    {% for joke in jokes_display %}
                        <tr>
                            <th scope='row' class='search-results w-sixty'>
                                <a href='/view/joke/{{ joke.joke_id }}'>{{ joke.joke_text }}</a>
                            </th>
                            <td class='search-results center-me w-twenty'>{{ joke.joke_rating }}</td>
                            <td class='search-results center-me w-twenty'>
                                <a href='/rate/joke/{{ joke.joke_id }}?rating=1'>1</a>
                                <a href='/rate/joke/{{ joke.joke_id }}?rating=2'>2</a>
                                <a href='/rate/joke/{{ joke.joke_id }}?rating=3'>3</a>
                                <a href='/rate/joke/{{ joke.joke_id }}?rating=4'>4</a>
                                <a href='/rate/joke/{{ joke.joke_id }}?rating=5'>5</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <hr class='top-thirty'>
    {% endif %}
    
</div>
{% endblock %}
